body {
    font-family: Arial, sans-serif !important;
    overflow-x: hidden;
}

.required {
    background-color: #E0232F;
    margin-right: 5px;
    color: #fff;
    font-size: 0.5em;
    padding: 3px 5px;
}

.form-control {
    width: 100%;
    border: 1px solid #e2e8f0;
    padding: 5px 10px;
}

select.form-control {
    border: 1px solid #707070;
    font-size: 13px;
    padding: 7px 10px;

    &:focus {
        outline: none;
    }
}

.href-custom {
    color: #2929c5;
    text-decoration: underline;
}

.form-group {
    @apply mt-8 w-full items-center gap-1.5;
}

.form-group:first-child {
    @apply mt-6;
}

.leading-form {
    @apply mb-[30px] mt-[90px] text-[24px] font-bold;
    display: flex;
    align-items: center;

    .dot {
        margin-right: 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #45a049;
    }
}

.icon-question {
    @apply cursor-pointer text-[#50b0c7] hover:text-[#155f70] ml-2;
}

.input-invalid {
    @apply border-red-500;

    &:focus {
        @apply border-red-500;
    }
}

.checkbox-invalid {
    button {
        @apply border-red-500;
    }
}

.select-invalid button {
    @apply border-red-500;
}

.items-unset {
    align-items: unset !important;
}

.loading-overlay {
    @apply fixed left-0 top-0 z-[31] flex h-[100%] w-[100%] items-center justify-center bg-[#14101014];
}

.table-container {
    width: 100%;
    overflow: auto;

    table {
        width: 100%;

        &.table-hover {
            tr {
                &:hover {
                    background-color: #fff;
                }
            }
        }

        tr {
            border-bottom: 1px solid #e7e7e7;

            td,
            th {
                padding: 10px 12px;
                font-size: 14px;
            }
        }

        thead {
            tr {
                th {
                    font-size: 13px;
                    text-align: left;
                    color: #71717a;
                    font-weight: 700;
                }
            }
        }
    }
}

.hissu {
    position: relative;
    font-weight: normal;

    &::after {
        content: '必須';
        background: #e0232f;
        color: #fff;
        font-size: 0.5em;
        padding: 3px 5px;
        margin-left: 5px;
        vertical-align: text-top;
    }

    @media screen and (min-width: 425px) and (max-width: 550px) {
        &::after {
            margin-left: 0;
            padding: 3px 4px;
        }
    }
}

.ninni {
    position: relative;
    font-weight: normal;

    &::after {
        content: '任意';
        background: #549b2a;
        color: #fff;
        font-size: 0.5em;
        padding: 3px 5px;
        margin-left: 5px;
        vertical-align: text-top;
    }

    @media screen and (min-width: 425px) and (max-width: 550px) {
        &::after {
            margin-left: 0;
            padding: 3px 4px;
        }
    }
}
