.required {
    color: #d3080c;
    margin-right: 5px;
}

.form-control {
    width: 100%;
    border: 1px solid #e2e8f0;
    padding: 5px 10px;
    border-radius: 4px;
}

.href-custom {
    color: #2929c5;
    text-decoration: underline;
}

.form-group {
    @apply mt-6 grid w-full items-center gap-1.5;
}

.leading-form {
    @apply mb-1 mt-6 text-[28px] font-medium;
}

.icon-question {
    @apply cursor-pointer text-[#50b0c7] hover:text-[#155f70] ml-2;
}

.input-invalid {
    @apply border-red-500;
}

.select-invalid button {
    @apply border-red-500;
}

.items-unset {
    align-items: unset !important;
}

.loading-overlay {
    @apply fixed left-0 top-0 flex h-[100%] w-[100%] items-center justify-center bg-[#14101014];
}

.table-container {
    width: 100%;
    overflow: auto;

    table {
        width: 100%;

        &.table-hover {
            tr {
                &:hover {
                    background-color: #fff;
                }
            }
        }

        tr {
            border-bottom: 1px solid gainsboro;

            td,
            th {
                padding: 12px;
                font-size: 14px;
            }
        }

        thead {
            tr {
                th {
                    font-size: 13px;
                    text-align: left;
                    color: #71717a;
                    font-weight: 700;
                }
            }
        }
    }
}
