/* ============================================ */
/* ハンバーガーメニュー開閉 */
/* ============================================ */
/* ボタン */
/* ============================================ */
.is-hamburgerBtn_bar-translate{
    /* transform: translateX(100px); */
    opacity: 0;
}
.is-hamburgerBtn_bar-rotate{
    top: 19px !important;
    transform: rotate(15deg);
    background-color: #1B1919;
}
.is-hamburgerBtn_bar-rotate2{
    top: 19px !important;
    transform: rotate(-15deg);
    background-color: #1B1919;
}
/* /メニュー */
/* ============================================ */
.is-hamburger-open{
    opacity: 1;
    visibility: visible;
}