.footer{
    display: flex;
    flex-direction: column-reverse;
    padding:24px 16px 8px;
    background-color: #010D00;
}
.copyright{
    display: block;
    text-align: center;
}
.copyright small{
    font-size: 1rem;
    color: rgba(255,255,255,.8);
}
.fnav_list{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.fnav_item{

}
.fnav_item:not(:last-child){
    margin-right: 16px;
}
.fnav_item a{   
    font-size: 1.3rem;
    color: #fff;
}

@media only screen and (min-width: 480px){
    .footer{
        padding: 24px;
        flex-direction: unset;
        justify-content: space-between;
        align-items: center;
    }
    .fnav_list{
        margin-bottom: 0;
    }
    .fnav_item a{   
        font-size: 1.5rem;
    }
}














